body {
  padding-top:0px;
}
.glyphicon-remove:hover {
  cursor:pointer;
}
.edit-in-place span {
  cursor: pointer;
}
.edit-in-place input {
  display: none;
}
.edit-in-place.active span {
  display: none;
}
.edit-in-place.active input{
  display: inline-block;
}
